.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
}
.navbar .logo {
  width: max(8%, 80px);
  height: 100px;
}
.nav-title {
  font-size: 1.4rem;
}
.navbar .profile {
  width: 50px;
  border-radius: 50%;
}
